In [2]:
import pandas as pd
df = pd.DataFrame({
    'name': ['Mike','Bob','Alice'],
    'age':[30,40,50],
    'job':['Programmer','Clerk','Designer']

})
# df = df.set_index('name')
import pandas as pd
df1 = pd.DataFrame({
    'a': [1, 2, 3]
}, index = [1,0,2])

df2 = pd.DataFrame({
    'a': [10, 20, 30]
},index = [1,2,0])

df.reset_index()
df.to_csv("2.my_data.csv",index=None)
pd.read_csv("2.my_data.csv",index_col=0)

df.to_json("2.my_json.json")
pd.read_json("2.my_json.json")
my_dict = df.to_dict(orient="records")
df

    name  age         job
0   Mike   30  Programmer
1    Bob   40       Clerk
2  Alice   50    Designer